.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.vscode/**
src/**
out/**
node_modules/**
.gitignore
.eslintrc*
tsconfig.json
esbuild.js
**/*.map
**/*.ts
!dist/**
